
<div id="products">
  <div class="row">
    <div class="col-md-4">
      <div class="title product-child">
        <a href="" class="link-center col-center product__link--1 product__title--1 underline">Title 1</a>
      </div>
      <div class="product-child">
        <img src="" class="center-block product__image--1"/>
      </div>
      <div class="product-child">
        <p class="text-center product__price--1">Price 1</p>
      </div>
      <div class="product-child">
        <button id="product_1">Select</button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="title product-child">
        <a href="" class="text-center col-center product__link--2 product__title--2 underline">Title 2</a>
      </div>
      <div class="product-child">
        <img src="" class="center-block product__image--2"/>
      </div>
      <div class="product-child">
        <p class="text-center product__price--2">Price 2</p>
      </div>
      <div class="product-child">
        <button id="product_2">Select</button>
       </div>
    </div>

    <div class="col-md-4">
      <div class="title product-child">
        <a href="" class="text-center col-center product__link--3 product__title--3 underline">Title 3</a>
      </div>
      <div class="product-child">
        <img src="" class="center-block product__image--3"/>
      </div>
      <div class="product-child">
        <p class="text-center product__price--3">Price 3</p>
      </div>
      <div class="product-child">
        <button id="product_3">Select</button>
      </div>
    </div>
  </div>
  <div class="hidden">
    <p class="hidden" id="product-asin-1"></p>
    <p class="hidden" id="product-asin-2"></p>
    <p class="hidden" id="product-asin-3"></p>
  </div>
</div>

<div class="amazon_error">
  <p></p>
</div>
