<div id="new-gift" class="container">
  <% if user_signed_in? %>
    <%= render 'form' %>
    <%= render 'search_gift'%>
  <% else %>
    <p>Please sign in to create a gift</p>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Home', root_path %>
  <% end %>
</div>
