<% if user_signed_in? %>

  <label>Search a Gift</label>
  <input type="text" name="search_keyword" id="search_keyword"/>
  <button id="amazon_search">Search</button>
  <%= render 'form' %>
  <div class="hidden">
    <p class="hidden" id="product-asin-1"></p>
    <p class="hidden" id="product-asin-2"></p>
    <p class="hidden" id="product-asin-3"></p>
  </div>

  <div class="amazon_error">
    <p></p>
  </div>
<% else %>
  <p>Please sign in to create a gift</p>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Home', root_path %>
<% end %>
