#gift-status {
  padding: 3em 0;
}

#event .progress{
  display: block;
}

.progress{
  padding: 0;
}

.status{
  text-transform: uppercase;
  font-size: 17px;
  float: left;
  color: #666;
}

.status strong {
  font-weight: 400;
  font-family: 'Avenir LT W01 55 Roman';
  display: block;
}

#event-details {
  margin-bottom: 2em;
}

#event-details .col-md-6 {
  display: block;
}

#recipient h4 {
  margin-bottom: 1em;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #faf8f6;
}

#item, #organiser, #contributors .contributor {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#item {
  padding: 0;
  padding-right: 2em;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  letter-spacing: -0.05em;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(40, 40, 40);
  font-weight: 600;
  letter-spacing: 0.16rem;
  line-height: 110%;
  font-size: 1rem;
  text-align: center;
}

#item .item-child{
  margin-bottom: 1em;
}

#contributors .contributor{
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 1em 0;
  border-top: 2px solid #12b4b4;
}

#organiser{
  margin-bottom: 3em;
  border: none;
}

#contributors .contributor .contributor-child, #organiser .organiser-child{
  margin-right: 1em;
}

#contributors .contributor .avatar{
  width: 75px;
}

#contributors .contributor:nth-of-type(1){
  border: none;
}


