.stripe-btn {
  margin-top: 0em;
}

.stripe-button-el {
  text-align: center;
}

.new-gift-details {
  padding: 2em 0;
  border-top: 2px solid #12b4b4;
}

#paid {
  font-size: 1.6rem;
}

#search-gift {
  padding: 2em 0;
}

#search-gift h4{
  padding: 2em 0;
}

#search-gift .form {
  margin: 0;
}

#products {
  display: none;
  letter-spacing: -0.05em;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(40, 40, 40);
  font-weight: 600;
  letter-spacing: 0.16rem;
  line-height: 110%;
  font-size: 1rem;
  text-align: center;
}

#products .col-md-4{
  min-height: 350px;
  margin-top: 2em;
}

#products .product-child{
  width: 90%;
  position: absolute;
}

#products .product-child:nth-of-type(1) {
  top: 0;
}

#products .product-child:nth-of-type(2) {
  top: 5em;
}

#products .product-child:nth-of-type(3) {
  bottom: 4em;
}

#products .product-child:nth-of-type(4){
  bottom: 0;
}

#products .title {
  text-align: center;
}

#products .title a{
}

#add-contributors .nested-fields{
  margin-bottom: 1.5em;
}

#add-contributors .nested-fields:nth-of-type(1) {
  padding-top: 1em;
}

#add-contributors label{
  display: none;
}

#add-contributors a:hover {
  border-bottom: none;
}

#add-contributors .nested-fields input[placeholder="Email"]{
  margin-bottom: 0.2em;
}

#create-gift {
  width: 100%;
}


