/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
  font-family: "Brandon Text","Gill Sans","Gill Sans MT","Futura","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 100%;
  color: #282828;
}

h1, h2, h3, h4, .headline {
  font-family: "Brandon Text","Gill Sans","Gill Sans MT","Futura","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 500;
  text-align: left;
  line-height: 90%;
  letter-spacing: -0.05em;
  font-size: 4.6rem;
  text-wrap: balanced;
}

h3 {
  margin-bottom: .5em;
  font-size: 2rem;
}

h4{
  font-size: 1rem;
}

p {
  line-height: 140%;
}

form {
  overflow: hidden;
  margin-top: 2em;
  font-family: "Brandon Text", "Gill Sans","Gill Sans MT","Futura","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 1rem;
}

.form {
  width: 50%;
  margin-bottom: 2em;
  padding: 0;
}

.form input, .form select {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 0.96rem 0 0.96rem 1rem;
  margin: 0.3rem 0.3rem 1rem 0;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  border-radius: 0.3em;
  color: #282828;
  background-color: #faf8f6;
}

::-webkit-input-placeholder {
   color: #dfdcdc;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #dfdcdc;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #dfdcdc;
   font-style: italic;
}

:-ms-input-placeholder {
   color: #dfdcdc;
   font-style: italic;
}

.close {
  width: auto;
  margin: 0;
}

#flash_notice {

}

button, .button {
  display: block;
  position: relative;
  padding: .5em 13em .5em 1.2em;
  margin: 0.6em 0.6em 0.6em 0;
  border: none;
  cursor: pointer;
  text-align: left;
  font-family: "Brandon Text","Gill Sans","Gill Sans MT","Futura","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  line-height: 150%;
  font-size: 1rem;
  border-radius: 0.3em;
}

button, .button.blue {
  background: #00c8c8;
  color: #faf8f6;
}

button, .button.dark-blue {
  background: #006464;
  color: #faf8f6;
  transition: color 0.3s ease;
}

.button input, button{
  width: 100%;
}

input[type="checkbox"]{
  width: 1em;
}

a:link, a:visited, a:active {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid #EFF6F4;
}

a.button {
  margin-top: 2em;
  margin-right: 0;
  font-size: 0.7em;
}

a:hover.button, .button:hover {
  background-color: #003232;
}

.left {
  text-align: left;
}

.hide {
  display: none;
}

.hidden {
  display: none;
}

#wrap, #wrap .navbar {
  width: 100%;
  background-color: #00c8c8;
  background-image: url("noise.png"),-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 750, color-stop(0%, rgba(0, 210, 190, 0.5)), color-stop(100%, rgba(0, 190, 210, 0.5)));
}

#wrap .content-area {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#wrap #content-area{
  width: 90%;
  margin: 2em auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}

#wrap .blurb {
  width: 100%;
  margin-top: -2em;
}

#wrap .logo img, footer img {
  width: 100%;
}

#wrap form input[type="email"] {
  border: 1px solid rgba(40, 40, 40, 0.2);
}

#wrap .logo.left {
  left: -1.5em;
}

#wrap .logo{
  display: block;
  width: 12em;
  position: relative;
}

#wrap .headline{
  font-size: 4.6rem;
}





