#wrap .navbar {
  background-color: transparent;
}

#wrap #menu {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  padding: 0.8em 0;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
   -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#wrap #menu a{
  margin-left: 1em;
  font-family: "Brandon Text","Gill Sans","Gill Sans MT","Futura","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  line-height: 150%;
  font-size: .8rem;
  color: rgba(40, 40, 40, 0.5);
  white-space: nowrap;
  transition: color 0.3s ease;
}

#wrap #menu a:hover{
  color: #282828;
  border-bottom: 1px solid #EFF6F4;
}

#wrap #menu .home a{
  margin-right: 1.5em;;
}
