<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar">
  <div id="menu-container" class="container">
    <div id="menu">
      <div class="navbar-header menu-child home">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Home', root_path %>
      </div>
      <div class="collapse navbar-collapse menu-child">
        <ul class="nav navbar-nav">
          <%= render 'layouts/navigation_links' %>
        </ul>
      </div>
      </div>
  </div>
</nav>
